name: enterprise_app
description: Mobile Enterprise Application
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.2.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  go_router: ^14.0.0
  cupertino_icons: ^1.0.6
  flutter_riverpod: ^2.5.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  alchemist: ^0.13.0

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/
